#

# PART 1: SQL

There are two tables in the included database

1. train_table
2. test_table


IMPORTANT: No other libraries are allowed to solve this tests only SQL Queries allowed

* pandas methods are not is not allowed
* sqlalchemy is not allowed

In [ ]:
# only library allowed do not modify
import pandas as pd
from src.sql import execute_query

In [ ]:
#example query inside docstring
execute_query("""
        SELECT * 
        FROM train_table
""")

In [ ]:
#example query inside docstring
execute_query("""
        SELECT * 
        FROM test_table
""")

## question 1: Basic SQL
Write a SQL statement from table <i>train_table</i> to obtain the top 10 <i>locations</i> people twit from (in descending order)

EXAMPLE SOLUTION:

   UserName          Location  count
0     11756       Doha, Qatar     10
..
8       450    The Colony, TX      9
9     14693  Brighton Lass ??      8

In [ ]:
# write query inside docstring
query_1 = """


"""

In [ ]:
result_1 = execute_query(query_1)

In [ ]:
result_1

## Question 2: Intermediate SQL

You are tasked to build a dataset that contains the count of Sentiment values as columns for every UserName.

The dataset must contain the following columns and name convention:
    0. UserName (int)
    1. pos_count (int)
    2. neg_count (int)
    3. extremely_pos_count (int)
    4. extremely_neg_count (int)

EXAMPLE SOLUTION:


   UserName  pos_count  neg_count  extremely_pos_count  extremely_neg_count
0     14675          1          7                    1                    0
1     12457          1          5                    0                    0
...
9     14405          0          4                    0                    1

In [ ]:
# write query inside docstring
query_2 = """

"""

In [ ]:
result_2 = execute_query(query_2)

In [ ]:
result_2

## Question 3: Medium SQL

The sales department asks you to plot the positive sentiment rate in time

The positive sentiment rate is defined as: 

    (count of positives + count of extremely positives) / [(count of negatives + count of extremely negatives) + (count of positives + count of extremely positives)]

requirement:

1. positive rate column most be named pos_rate



EXAMPLE SOLUTION:


	tweetAt	    pos_rate
0	18-03-2020	1.000000
1	21-03-2020	1.000000
...
4	18-03-2020	0.777778

In [ ]:
query_3 = """

"""

In [ ]:
# write query inside docstring
query_3 = """

"""

In [ ]:
result_3 = execute_query(query_3)

In [ ]:
result_3

## Question 4: SQL + pandas + plotting

You are tasked to deliver a simple plot a time series of the answer of Question 3

Requirements:
    1. the proceedure most take the result_3 variable as input and return nothing
    2. the plot most be resampled by day aggregated by the mean
    3. no other library like matplotlib can be used only pandas plot interface pd.Series.plot()
    4. the date column from result_3 most be parsed into datetime format using pandas built in method.
    5. the proceedure must not transform or modify the original result_3 variable

<p>Expected result:</p>
<img src="data/plot_result.png">

In [ ]:
def plot(df : pd.DataFrame):
    #TODO: YOUR CODE GOES HERE

In [ ]:
plot(result_3)

# PART 2: Object Oriented Programming + Data Wrangling

## Question 5

You are tasked to build a csv data reader from scratch.
As a major constraint you cannot use any third party library like pandas or another csv reader. 
***Only built in standard python libraries are allowed.***


The problem is that the csv data provided has many mistakes and the user requires to keep the amount of data possible.
The user does not wants to drop rows or columns with mistakes but may replace mistakes with "NaN" values

REQUIREMENTS:

I. the csv must be contained inside a class named Data and it must have:
    1. must persist the loaded csv data in a local parameter called data
    2. infer_dtypes(data_object: object) : to infer the data types of each column distinguishing between (date, integer, or float)
    3. describe() method that returns basic statistics of each numerical column including mean, standard deviation, maximum value, minimum value.
II. You most build a class called DataReader with the following required methods:
    1. read_csv(file_path : Str) : to load the raw csv file and return a Data class


You can assume:
    1. all columns have different errors at different rows
    2. you can delete rows ONLY if necesary and you need to comment why
    3. the more rows you drop the less points you will obtain


If it is not specified in this instructions you are free to assume but explain your assumptions.
Use best practices and comment your code as best as possible.

# example template for class

class Data:
    def __init__(self):
        # CODE GOES HERE



    def infer_dtypes(self) -> dict:
        # CODE GOES HERE

        return 

    def describe(self) -> dict:
        # CODE GOES HERE 

        return